# FSB II. - Data cleaning
## What is this

## Installs

In [ ]:
! pip3 install convertbng
! pip3 install python-Levenshtein

Collecting convertbng
  Downloading https://files.pythonhosted.org/packages/fb/6b/53f6784138d3424ea7f50c26892d5cec45456b1a25fb5d9c386ec177a8ed/convertbng-0.6.25-cp37-cp37m-manylinux1_x86_64.whl (14.0MB)
     |████████████████████████████████| 14.0MB 326kB/s
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from convertbng) (1.19.5)
Installing collected packages: convertbng
Successfully installed convertbng-0.6.25
Collecting python-Levenshtein
  Downloading https://files.pythonhosted.org/packages/2a/dc/97f2b63ef0fa1fd78dcb7195aca577804f6b2b51e712516cc0e902a9a201/python-Levenshtein-0.12.2.tar.gz (50kB)
     |████████████████████████████████| 51kB 3.3MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from python-Levenshtein) (53.0.0)
Building wheels for collected packages: python-Levenshtein
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.2-cp37-cp37m-linux_x86_64.whl size=149791 sha256=889190a26d3df6fe0512c774f4306beebce73625022fae383394e5f0f2eae1e6
  Stored in directory: /root/.cache/pip/wheels/b3/26/73/4b48503bac73f01cf18e52cd250947049a7f339e940c5df8fc
Successfully built python-Levenshtein
Installing collected packages: python-Levenshtein
Successfully installed python-Levenshtein-0.12.2

## Imports

In [ ]:
# built-in modules
import re
import io
import requests
import warnings
import os
import sys

# numpy and pandas
import pandas as pd
import numpy as np

# helper module for pandas to be able to process excel spreadsheets - xlrd is obsolete
import openpyxl

# matplotlib
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import rcParams

# widgets
from ipywidgets import widgets, HBox, VBox, Layout
from IPython.display import display

# plotly modules
import plotly
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [ ]:
liblist = sorted([e.name for e in os.scandir(r'/usr/local/lib/python'+sys.version[0:3]+'/dist-packages')])
[l for l in liblist if re.search(re.compile(".*bng.*", re.IGNORECASE), l) is not None]

['convertbng', 'convertbng-0.6.25.dist-info']

In [ ]:
liblist = sorted([e.name for e in os.scandir(r'/usr/local/lib/python'+sys.version[0:3]+'/dist-packages')])
[l for l in liblist if re.search(re.compile(".*leven.*", re.IGNORECASE), l) is not None]

['Levenshtein', 'python_Levenshtein-0.12.2.dist-info']

In [ ]:
# The elusive convertbng
from convertbng.util import convert_osgb36_to_lonlat
# Our lovely Levenstein distance module
import Levenshtein

## Module settings

In [ ]:
# changing default figure size and style for matplotlib
rcParams["figure.figsize"] = 20, 10
mpl.style.use('ggplot')
warnings.filterwarnings('ignore')
myBag = dict()

## Functions

In [ ]:
def throwaway_function_for_filter_elements(df):
  list_of_boroughs = sorted(df["ProperCase"].unique().tolist())

  list_of_years = df["CalYear"].unique().tolist()
  list_of_incidents = sorted(df["IncidentGroup"].unique().tolist())
  list_of_boroughs.insert(0, ".*") 
  list_of_incidents.insert(0, ".*") 

  year_selector = widgets.IntRangeSlider(
      description = "Year: ",
      min = df["CalYear"].unique().min(),
      max = df["CalYear"].unique().max(),
      step = 1,
      orientation='horizontal',
      readout=True,
      value = [df["CalYear"].unique().min(), df["CalYear"].unique().max()],
      style = {'description_width': 'initial'}
  )


  borough_selector = widgets.Dropdown(
      description = "Borough (ProperCase): ",
      value = ".*",
      options = [(i,i) for i in list_of_boroughs],
      continuous_update=True,
      style = {'description_width': 'initial'}
      )
  def get_available_wards():
      list_of_wards = []
      list_of_wards.insert(0, ".*")
      list_of_wards.extend(sorted(df[df["IncGeo_BoroughName"] == borough_selector.value.upper()]["IncGeo_WardNameNew"].unique().tolist()))
      return list_of_wards

  ward_selector = widgets.Dropdown(
      description = "Ward: ",
      value = ".*",
      options = [(i,i) for i in get_available_wards()],
      continuous_update=True,
      style = {'description_width': 'initial'}  
      )

  def on_value_change(change):
    ward_selector.options = [(i,i) for i in get_available_wards()]
    ward_selector.value = ".*"


  borough_selector.observe(on_value_change, names = "value")

  type_selector = widgets.Dropdown(
      description = "IncidentGroup: ",
      value = ".*",
      options = [(i,i) for i in list_of_incidents],
      style = {'description_width': 'initial'} )
  vbox = VBox([year_selector, type_selector,  borough_selector, ward_selector])
  def f(return_df = False):
    if return_df:
      return df
    return vbox
  return f

In [ ]:
def get_filtered_dataframe():
  filter_elements = get_filter_elements().children
  df = get_filter_elements(return_df = True)
  return df[(df.CalYear.isin(range(filter_elements[0].value[0], filter_elements[0].value[1]+1))) &
            (df["IncidentGroup"].str.match(re.compile(filter_elements[1].value), re.IGNORECASE)) &
             (df["ProperCase"].str.match(re.compile(filter_elements[2].value), re.IGNORECASE)) & 
             (df["IncGeo_WardNameNew"].str.match(re.compile(filter_elements[3].value), re.IGNORECASE))
            ]

## Data acquisition

In [ ]:
myBag["lfb_data_url"] = "https://data.london.gov.uk/download/london-fire-brigade-incident-records/b8f76a50-c7a0-4ff4-b3e4-7a42c5d0e8e3/LFB%20Incident%20data%20from%20January%202017.xlsx"

In [ ]:
faking_browser = {'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:77.0) Gecko/20100101 Firefox/77.0'}
response = requests.get(myBag["lfb_data_url"], headers = faking_browser )
if(response.ok):
  print("Data has been retrieved.")
  bytes_data = response.content
  buffer = io.BytesIO(bytes_data)
  have_a_look_at_excel = pd.ExcelFile(buffer)
else:
  print("Eh-raw")

Data has been retrieved.

In [ ]:
myBag["df"] = df = pd.read_excel(have_a_look_at_excel)

## Narrowing the scope

In [ ]:
## Limiting the scope

In [ ]:
get_filter_elements = throwaway_function_for_filter_elements(myBag["df"])

In [ ]:
get_filter_elements()

VBox(children=(IntRangeSlider(value=(2017, 2021), description='Year: ', max=2021, min=2017, style=SliderStyle(…

## Filtering the dataframe

In [ ]:
myBag["last_filtered_df"] = get_filtered_dataframe()
myBag["last_filtered_df"].head(3)

    IncidentNumber DateOfCall  ...  PumpHoursRoundUp Notional Cost (£)
0  000298-01012017 2017-01-01  ...               1.0             326.0
1  000051-01012017 2017-01-01  ...               1.0             326.0
2  000429-01012017 2017-01-01  ...               1.0             326.0

[3 rows x 38 columns]

## A quick reminder of data types and columns

In [ ]:
myBag["last_filtered_df"].describe()

             CalYear     HourOfCall  ...  PumpHoursRoundUp  Notional Cost (£)
count  420243.000000  420243.000000  ...     418280.000000      418280.000000
mean     2018.523906      13.469257  ...          1.373597         460.732055
std         1.146158       6.247467  ...          6.886935        2294.186846
min      2017.000000       0.000000  ...          1.000000         326.000000
25%      2018.000000       9.000000  ...          1.000000         328.000000
50%      2019.000000      14.000000  ...          1.000000         339.000000
75%      2020.000000      19.000000  ...          1.000000         346.000000
max      2021.000000      23.000000  ...       2163.000000      709464.000000

[8 rows x 17 columns]

In [ ]:
myBag["last_filtered_df"].dtypes

IncidentNumber                                    object
DateOfCall                                datetime64[ns]
CalYear                                            int64
TimeOfCall                                        object
HourOfCall                                         int64
IncidentGroup                                     object
StopCodeDescription                               object
SpecialServiceType                                object
PropertyCategory                                  object
PropertyType                                      object
AddressQualifier                                  object
Postcode_full                                     object
Postcode_district                                 object
UPRN                                               int64
USRN                                               int64
IncGeo_BoroughCode                                object
IncGeo_BoroughName                                object
ProperCase                                        object
IncGeo_WardCode                                   object
IncGeo_WardName                                   object
IncGeo_WardNameNew                                object
Easting_m                                        float64
Northing_m                                       float64
Easting_rounded                                    int64
Northing_rounded                                   int64
Latitude                                         float64
Longitude                                        float64
FRS                                               object
IncidentStationGround                             object
FirstPumpArriving_AttendanceTime                 float64
FirstPumpArriving_DeployedFromStation             object
SecondPumpArriving_AttendanceTime                float64
SecondPumpArriving_DeployedFromStation            object
NumStationsWithPumpsAttending                    float64
NumPumpsAttending                                float64
PumpCount                                        float64
PumpHoursRoundUp                                 float64
Notional Cost (£)                                float64
dtype: object

## Dropping columns that are not needed #1

In [ ]:
columns_to_drop = "Postcode_full,Postcode_district,UPRN,USRN,Easting_m,Northing_m,FRS,"
columns_to_drop += "IncidentStationGround,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,"
columns_to_drop += "SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,"
columns_to_drop += "NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,Notional Cost (£)"
columns_to_drop = columns_to_drop.split(",")
myBag["last_filtered_df"].drop(columns = columns_to_drop, inplace = True)

In [ ]:
myBag["last_filtered_df"].columns

Index(['IncidentNumber', 'DateOfCall', 'CalYear', 'TimeOfCall', 'HourOfCall',
       'IncidentGroup', 'StopCodeDescription', 'SpecialServiceType',
       'PropertyCategory', 'PropertyType', 'AddressQualifier',
       'IncGeo_BoroughCode', 'IncGeo_BoroughName', 'ProperCase',
       'IncGeo_WardCode', 'IncGeo_WardName', 'IncGeo_WardNameNew',
       'Easting_rounded', 'Northing_rounded', 'Latitude', 'Longitude',
       'PumpHoursRoundUp'],
      dtype='object')

## Handling null values

In [ ]:
columns_with_null = myBag["last_filtered_df"].columns[myBag["last_filtered_df"].isna().sum() > 0].values
columns_with_null

array(['SpecialServiceType', 'Latitude', 'Longitude', 'PumpHoursRoundUp'],
      dtype=object)

In [ ]:
myBag["last_filtered_df"][columns_with_null].isna().sum()

SpecialServiceType    288444
Latitude              213501
Longitude             213501
PumpHoursRoundUp        1963
dtype: int64

In [ ]:
# handling textual nulls (object type)
missing_value_str = "missing_data" 
myBag["last_filtered_df"][columns_with_null[0]] = myBag["last_filtered_df"][columns_with_null[0]].fillna(missing_value_str)

In [ ]:
# handling numerical nulls
missing_value_num = 0
myBag["last_filtered_df"][columns_with_null[1:]] = myBag["last_filtered_df"][columns_with_null[1:]].fillna(missing_value_num)

In [ ]:
myBag["last_filtered_df"][columns_with_null].isna().sum()

SpecialServiceType    0
Latitude              0
Longitude             0
PumpHoursRoundUp      0
dtype: int64

## Standardising BNG values (easting and northing) to GPS coordinates

In [ ]:
bng_resolved = convert_osgb36_to_lonlat(myBag["last_filtered_df"]["Easting_rounded"] , myBag["last_filtered_df"]["Northing_rounded"])

In [ ]:
# Calculating difference between newly calulated and old values
myBag["last_filtered_df"]["Longitude_new"], myBag["last_filtered_df"]["Latitude_new"] = bng_resolved
myBag["last_filtered_df"]["lng_diff"], myBag["last_filtered_df"]["lat_diff"] =\
myBag["last_filtered_df"]["Longitude"] - myBag["last_filtered_df"]["Longitude_new"], \
myBag["last_filtered_df"]["Latitude"] - myBag["last_filtered_df"]["Latitude_new"]

In [ ]:
# Setting the difference to 0 where the latitude and longitude values were missing
myBag["last_filtered_df"]["lng_diff"][myBag["last_filtered_df"]["Longitude"] == 0] = 0
myBag["last_filtered_df"]["lat_diff"][myBag["last_filtered_df"]["Latitude"] == 0] = 0

#### Displaying the difference between the converted and original latitude and longitude values

In [ ]:
myBag["last_filtered_df"][["lng_diff", "lat_diff"]].describe()

            lng_diff       lat_diff
count  206742.000000  206742.000000
mean       -0.000002      -0.000002
std         0.000416       0.000259
min        -0.002579      -0.002683
25%        -0.000361      -0.000227
50%        -0.000001      -0.000001
75%         0.000356       0.000222
max         0.010164       0.002454

In [ ]:
myBag["last_filtered_df"][["IncidentNumber", "Longitude", "Latitude"]].head(3)

    IncidentNumber  Longitude   Latitude
0  000298-01012017   0.016468  51.634359
1  000051-01012017   0.041286  51.525937
2  000429-01012017  -0.070499  51.463855

## Breaking down the date column to its constituents

In [ ]:
def break_date_down(df, datecolumn = "DateOfCall"):
  df['Month'] = df[datecolumn].dt.month
  df['MonthStr'] = df[datecolumn].dt.month_name()

  df['DayOfWeek'] = df[datecolumn].dt.dayofweek + 1
  df['DayOfWeekStr'] = df[datecolumn].dt.day_name()

  df['DayOfMonth'] = df[datecolumn].dt.day
  df['DayOfYear'] = df[datecolumn].dt.dayofyear
  df['WeekOfMonth'] = df.DayOfMonth.apply(lambda d: (d - 1) // 7 + 1)
  df['WeekOfYear'] = df[datecolumn].dt.week

In [ ]:
break_date_down(myBag["last_filtered_df"])

In [ ]:
myBag["last_filtered_df"].head(3)

    IncidentNumber DateOfCall  CalYear  ... DayOfYear  WeekOfMonth WeekOfYear
0  000298-01012017 2017-01-01     2017  ...         1            1         52
1  000051-01012017 2017-01-01     2017  ...         1            1         52
2  000429-01012017 2017-01-01     2017  ...         1            1         52

[3 rows x 34 columns]

In [ ]:
myBag["last_filtered_df"].describe()

             CalYear     HourOfCall  ...    WeekOfMonth     WeekOfYear
count  420243.000000  420243.000000  ...  420243.000000  420243.000000
mean     2018.523906      13.469257  ...       2.698936      26.661943
std         1.146158       6.247467  ...       1.271662      14.965223
min      2017.000000       0.000000  ...       1.000000       1.000000
25%      2018.000000       9.000000  ...       2.000000      14.000000
50%      2019.000000      14.000000  ...       3.000000      27.000000
75%      2020.000000      19.000000  ...       4.000000      39.000000
max      2021.000000      23.000000  ...       5.000000      53.000000

[8 rows x 17 columns]

## Investigating duplicates

In [ ]:
myBag["last_filtered_df"]["IncidentNumber"].duplicated().sum()

0

## Investigating structural errors: checking for multiple representations of the same value

In [ ]:
myBag["last_filtered_df"].columns

Index(['IncidentNumber', 'DateOfCall', 'CalYear', 'TimeOfCall', 'HourOfCall',
       'IncidentGroup', 'StopCodeDescription', 'SpecialServiceType',
       'PropertyCategory', 'PropertyType', 'AddressQualifier',
       'IncGeo_BoroughCode', 'IncGeo_BoroughName', 'ProperCase',
       'IncGeo_WardCode', 'IncGeo_WardName', 'IncGeo_WardNameNew',
       'Easting_rounded', 'Northing_rounded', 'Latitude', 'Longitude',
       'PumpHoursRoundUp', 'Longitude_new', 'Latitude_new', 'lng_diff',
       'lat_diff', 'Month', 'MonthStr', 'DayOfWeek', 'DayOfWeekStr',
       'DayOfMonth', 'DayOfYear', 'WeekOfMonth', 'WeekOfYear'],
      dtype='object')

In [ ]:
columns_to_investigate = 'IncidentGroup,StopCodeDescription,IncGeo_BoroughName,ProperCase,'
columns_to_investigate += 'IncGeo_WardName,IncGeo_WardNameNew'
columns_to_investigate = columns_to_investigate.split(",")

In [ ]:
def get_suspicious_values(df, columns_to_investigate, min_distance = 1, max_distance = 5):
  dodgy_columns = {}
  for col in columns_to_investigate:
    dodgy_columns[col] = []
    unique_values = df[col].unique().tolist()
    while(len(unique_values)>2):
      current_unique = unique_values.pop()
      
      for other_unique in unique_values:
        distance = Levenshtein.distance(current_unique.strip(), other_unique.strip())
        if(distance >= min_distance and distance <= max_distance):
          dodgy_columns[col].append([current_unique, other_unique])
  return dodgy_columns

def find_nas(df, columns_to_investigate, na_strings = ["applicable", "not applicable",  "na", "n\.a", "missing", "nan"]):
  dodgy_columns = {}
  for col in columns_to_investigate:
    dodgy_columns[col] = []
    unique_values = df[col].unique().tolist()
    for current_unique in unique_values:
      for na in na_strings:
        result = re.search(re.compile(".*" + na.strip() + ".*", re.IGNORECASE), current_unique.strip())
        if(result is not None):
          dodgy_columns[col].append([current_unique, na])
  return dodgy_columns

### Examining possible duplicates

In [ ]:
get_suspicious_values(myBag["last_filtered_df"], columns_to_investigate, max_distance = 1)

{'IncGeo_BoroughName': [],
 'IncGeo_WardName': [['CRAYFORD', 'CRANFORD'],
  ['CHADWELL', 'SHADWELL'],
  ['CHEAP', 'CHEAM'],
  ['BROAD STREET', 'BREAD STREET'],
  ['SOUTHFIELD', 'SOUTHFIELDS'],
  ['ELTHAM NORTH', 'FELTHAM NORTH'],
  ['ELTHAM WEST', 'FELTHAM WEST'],
  ["ST. MARY'S", "ST. MARK'S"],
  ["QUEEN'S PARK", 'QUEENS PARK']],
 'IncGeo_WardNameNew': [['CRAYFORD', 'CRANFORD'],
  ['CHADWELL', 'SHADWELL'],
  ['CHEAP', 'CHEAM'],
  ['BROAD STREET', 'BREAD STREET'],
  ['SOUTHFIELD', 'SOUTHFIELDS'],
  ['ELTHAM NORTH', 'FELTHAM NORTH'],
  ['ELTHAM WEST', 'FELTHAM WEST'],
  ["ST. MARY'S", "ST. MARK'S"],
  ["QUEEN'S PARK", 'QUEENS PARK']],
 'IncidentGroup': [],
 'ProperCase': [],
 'StopCodeDescription': []}

### Investigating further the possible duplicates
The ones that might be problematic:
- 'CHEAP' and 'CHEAM'
- "QUEEN'S PARK" and 'QUEENS PARK'
- 'SOUTHFIELD', 'SOUTHFIELDS'

#### 'CHEAP' and 'CHEAM'

In [ ]:
myBag["last_filtered_df"]\
[(myBag["last_filtered_df"]["IncGeo_WardName"] == "CHEAP") | (myBag["last_filtered_df"]["IncGeo_WardName"] == "CHEAM") ]\
[["IncGeo_BoroughName", "IncGeo_WardName"]].head(3)

    IncGeo_BoroughName IncGeo_WardName
167             SUTTON           CHEAM
577             SUTTON           CHEAM
773             SUTTON           CHEAM

In [ ]:
myBag["last_filtered_df"][myBag["last_filtered_df"]["IncGeo_WardName"] == "CHEAP"]["IncGeo_BoroughName"].unique()

array(['CITY OF LONDON'], dtype=object)

In [ ]:
myBag["last_filtered_df"][myBag["last_filtered_df"]["IncGeo_WardName"] == "CHEAM"]["IncGeo_BoroughName"].unique()

array(['SUTTON'], dtype=object)

In [ ]:
myBag["last_filtered_df"]\
[(myBag["last_filtered_df"]["IncGeo_WardName"] == "QUEEN'S PARK") | (myBag["last_filtered_df"]["IncGeo_WardName"] ==  'QUEENS PARK') ]\
[["IncGeo_BoroughName", "IncGeo_WardName"]].head(3)

     IncGeo_BoroughName IncGeo_WardName
140               BRENT     QUEENS PARK
443         WESTMINSTER    QUEEN'S PARK
1052        WESTMINSTER    QUEEN'S PARK

#### "QUEEN'S PARK" and 'QUEENS PARK'

In [ ]:
myBag["last_filtered_df"][myBag["last_filtered_df"]["IncGeo_WardName"] == 'QUEENS PARK']["IncGeo_BoroughName"].unique()

array(['BRENT'], dtype=object)

In [ ]:
myBag["last_filtered_df"][myBag["last_filtered_df"]["IncGeo_WardName"] == "QUEEN'S PARK"]["IncGeo_BoroughName"].unique()

array(['WESTMINSTER'], dtype=object)

#### 'SOUTHFIELD', 'SOUTHFIELDS'

In [ ]:
myBag["last_filtered_df"]\
[(myBag["last_filtered_df"]["IncGeo_WardName"] == "SOUTHFIELD") | (myBag["last_filtered_df"]["IncGeo_WardName"] ==  'SOUTHFIELDS') ]\
[["IncGeo_BoroughName", "IncGeo_WardName"]].head(3)

     IncGeo_BoroughName IncGeo_WardName
257          WANDSWORTH     SOUTHFIELDS
1327         WANDSWORTH     SOUTHFIELDS
2533         WANDSWORTH     SOUTHFIELDS

In [ ]:
myBag["last_filtered_df"][myBag["last_filtered_df"]["IncGeo_WardName"] == 'SOUTHFIELD']["IncGeo_BoroughName"].unique()

array(['EALING'], dtype=object)

In [ ]:
myBag["last_filtered_df"][myBag["last_filtered_df"]["IncGeo_WardName"] == "SOUTHFIELDS"]["IncGeo_BoroughName"].unique()

array(['WANDSWORTH'], dtype=object)

### Investigating "N.A"

In [ ]:
find_nas(myBag["last_filtered_df"], columns_to_investigate)

{'IncGeo_BoroughName': [],
 'IncGeo_WardName': [["ST. LEONARD'S", 'na'],
  ['CASTLE BAYNARD', 'na'],
  ['FROGNAL AND FITZJOHNS', 'na'],
  ['Hainault', 'na'],
  ['CANARY WHARF', 'na'],
  ['DUNDONALD', 'na'],
  ['BETHNAL GREEN', 'na'],
  ['SNARESBROOK', 'na'],
  ['Castle Baynard', 'na'],
  ['HAINAULT', 'na']],
 'IncGeo_WardNameNew': [["ST. LEONARD'S", 'na'],
  ['CASTLE BAYNARD', 'na'],
  ['FROGNAL AND FITZJOHNS', 'na'],
  ['Hainault', 'na'],
  ['CANARY WHARF', 'na'],
  ['DUNDONALD', 'na'],
  ['BETHNAL GREEN', 'na'],
  ['SNARESBROOK', 'na'],
  ['Castle Baynard', 'na'],
  ['HAINAULT', 'na']],
 'IncidentGroup': [],
 'ProperCase': [],
 'StopCodeDescription': []}

## Dropping columns that are not needed #2

In [ ]:
myBag["last_filtered_df"].head(3)

    IncidentNumber DateOfCall  CalYear  ... DayOfYear  WeekOfMonth WeekOfYear
0  000298-01012017 2017-01-01     2017  ...         1            1         52
1  000051-01012017 2017-01-01     2017  ...         1            1         52
2  000429-01012017 2017-01-01     2017  ...         1            1         52

[3 rows x 34 columns]

In [ ]:
myBag["last_filtered_df"].columns

Index(['IncidentNumber', 'DateOfCall', 'CalYear', 'TimeOfCall', 'HourOfCall',
       'IncidentGroup', 'StopCodeDescription', 'SpecialServiceType',
       'PropertyCategory', 'PropertyType', 'AddressQualifier',
       'IncGeo_BoroughCode', 'IncGeo_BoroughName', 'ProperCase',
       'IncGeo_WardCode', 'IncGeo_WardName', 'IncGeo_WardNameNew',
       'Easting_rounded', 'Northing_rounded', 'Latitude', 'Longitude',
       'PumpHoursRoundUp', 'Longitude_new', 'Latitude_new', 'lng_diff',
       'lat_diff', 'Month', 'MonthStr', 'DayOfWeek', 'DayOfWeekStr',
       'DayOfMonth', 'DayOfYear', 'WeekOfMonth', 'WeekOfYear'],
      dtype='object')

In [ ]:
columns_to_drop2 = "lat_diff,lng_diff,Latitude,Longitude,Easting_rounded,Northing_rounded".split(",")
myBag["last_filtered_df"].drop(columns = columns_to_drop2, inplace = True)

## Saving the dataframe

In [ ]:
text_input = widgets.Text(description = "Enter the file name:", value = "temp.csv", style = {"description_width": "initial"})
text_input2 = widgets.Text(description = "Enter the pickled file name:", value = "temp.pkl", style = {"description_width": "initial"})

text_input

Text(value='temp.csv', description='Enter the file name:', style=DescriptionStyle(description_width='initial')…

In [ ]:
myBag["last_filtered_df"].to_csv(text_input.value)

In [ ]:
text_input2

Text(value='temp.pkl', description='Enter the pickled file name:', style=DescriptionStyle(description_width='i…

In [ ]:
myBag["last_filtered_df"].to_pickle(text_input2.value)